{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}
<!DOCTYPE html> 
<html>
  <head>
    <title>Welcome to my first page !</title>
  </head>
  <body>
    <h1>Hello {{nom}}</h1>
    <p>Un nouveau paragraphe</p>
  </body>
</html>
